mysql['enable'] = false
mysql['host'] = {'10.30.20.139' => 3306,  '10.30.20.153' => 3306,  '10.30.20.196' => 3306}
mysql['morpheus_db'] = 'morpheusdb'
mysql['morpheus_db_user'] = 'morpheusadmin'
mysql['morpheus_password'] = 'morpheus4admin!'
rabbitmq['enable'] = false
rabbitmq['vhost'] = 'morph'
rabbitmq['queue_user'] = 'lbuser'
rabbitmq['queue_user_password'] = 'morpheus4admin'
rabbitmq['host'] = '{{ rabbitmq_lb }}'
rabbitmq['port'] = '5672'
rabbitmq['stomp_port'] = '61613'
rabbitmq['heartbeat'] = 50
elasticsearch['enable'] = false
elasticsearch['cluster'] = 'morpheusha1'
elasticsearch['es_hosts'] = {'10.30.20.91' => 9300, '10.30.20.149' => 9300, '10.30.20.165' => 9300}