appliance_url 'https://morpheus1.localdomain'
elasticsearch['es_hosts'] = { {% for minion in groups['morpheus_3node_cluster'] %}
'{{ hostvars[minion]['ansible_all_ipv4_addresses'][0] }}' => 9200{% if not loop.last %},{% endif %}
{% endfor %} }
elasticsearch['node_name'] = {{ ansible_hostname }}
elasticsearch['host'] = '0.0.0.0'
rabbitmq['host'] = '0.0.0.0'
rabbitmq['nodename'] = 'rabbit@{{ ansible_hostname }}'
mysql['enable'] = false
mysql['host'] = '10.100.10.111'
mysql['morpheus_db'] = 'morpheusdb'
mysql['morpheus_db_user'] = 'morpheus'
mysql['morpheus_password'] = 'password'